parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @var for variable \$objectManager contains unknown class Doctrine\\ODM\\PHPCR\\DocumentManagerInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Adapter/PHPCR/PHPCRAdapter.php

		-
			message: '#^PHPDoc tag @var with type Doctrine\\ODM\\PHPCR\\DocumentManagerInterface is not subtype of native type Doctrine\\Persistence\\ObjectManager\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Adapter/PHPCR/PHPCRAdapter.php

		-
			message: '#^Call to method getUnitOfWork\(\) on an unknown class Doctrine\\ODM\\PHPCR\\DocumentManagerInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Adapter/PHPCR/PHPCRAdapter.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:scalarNode\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Property Vich\\UploaderBundle\\Tests\\EventListener\\Doctrine\\ListenerTestCase\<Vich\\UploaderBundle\\EventListener\\Doctrine\\RemoveListener\>\:\:\$object \(Vich\\UploaderBundle\\Tests\\DummyEntity\) does not accept Doctrine\\Common\\Proxy\\Proxy\|PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: assign.propertyType
			count: 2
			path: tests/EventListener/Doctrine/RemoveListenerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\HttpFoundation\\\\\\\\StreamedResponse' and Symfony\\\\Component\\\\HttpFoundation\\\\StreamedResponse will always evaluate to true\\.$#"
			identifier: staticMethod.alreadyNarrowedType
			count: 6
			path: tests/Functional/DownloadHandlerIntegrationTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\HttpFoundation\\\\\\\\StreamedResponse' and Symfony\\\\Component\\\\HttpFoundation\\\\StreamedResponse will always evaluate to true\\.$#"
			identifier: staticMethod.alreadyNarrowedType
			count: 4
			path: tests/Handler/DownloadHandlerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Vich\\\\\\\\UploaderBundle\\\\\\\\Mapping\\\\\\\\PropertyMapping' and Vich\\\\UploaderBundle\\\\Mapping\\\\PropertyMapping will always evaluate to true\\.$#"
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Mapping/PropertyMappingResolverNonConfigurableTest.php

		-
			message: '#^Method Vich\\UploaderBundle\\Tests\\TestCase\:\:getPropertyMappingMock\(\) has unresolvable native return type\.$#'
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Vich\\UploaderBundle\\Tests\\TestCase\:\:getPropertyMappingFactoryMock\(\) has unresolvable native return type\.$#'
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Vich\\UploaderBundle\\Tests\\TestCase\:\:getMetadataReaderMock\(\) has unresolvable native return type\.$#'
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Vich\\UploaderBundle\\Tests\\TestCase\:\:getUploadHandlerMock\(\) has unresolvable native return type\.$#'
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Vich\\UploaderBundle\\Tests\\Functional\\WebTestCase\:\:mockMetadataReader\(\) has unresolvable native return type\.$#'
			count: 1
			path: tests/Functional/WebTestCase.php
